.join {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--header-color-white);
}
.join-size {
  min-width: 206px;
  margin-left: 70px;
  margin-right: 93px;
}

.socials-networks-weight-icon {
  fill: var(--header-color-white);
}
